<div class="main">
    <p class="color">User Interface > Forms</p>
    <h1 class="fw"><b>Form Wizards</b></h1>
</div>
<div class="hori">
    <div class="bar">
        <p class="content">Form wizard examples in this page uses mat-horizontal-stepper` and`
            `mat-vertical-stepper`<br>
            components from Angular Material. You can get more information about them over here:</p>
        <a class="link"
            href="https://material.angular.io/components/stepper/overview.">https://material.angular.io/components/stepper/overview.</a>
        <p class="content1">We prepared couple examples to get you started. You are not limited with these examples,
            there
            are lots of options
            <br> to steppers and you can configure them to have different behaviors. Take a look at the official guide
            to
            learn more<br>
            about them.
        </p>
        <h1 class="hs"><b>Horizontal Stepper</b></h1>
    </div>


    <!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
 </button> -->
    <mat-card class="example-card">
        <mat-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup" class="example-form">
                    <ng-template matStepLabel>Basic information</ng-template>
                    <p class="basic">
                        Fill in your basic information to let us know your preferences
                    </p>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
                    </mat-form-field><br>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput formControlName="emailCtrl" placeholder="Ex. pat@example.com"
                            required>
                        <mat-hint>Errors appear instantly!</mat-hint>
                    </mat-form-field><br>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>City</mat-label>
                        <mat-select #mode value="side" formControlName="city">
                            <mat-option value="side">None</mat-option>
                            <mat-option value="side">Hyderabad</mat-option>
                            <mat-option value="over">Chennai</mat-option>
                            <mat-option value="push">Bangolare</mat-option>
                        </mat-select>
                    </mat-form-field><br>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Languages</mat-label>
                        <mat-select #mode value="side" formControlName="language">
                            <mat-option value="side">None</mat-option>
                            <mat-option value="side">English</mat-option>
                            <mat-option value="over">Telugu</mat-option>
                            <mat-option value="push">Hindi</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div class="nxt-4">
                        <button mat-raised-button color="primary" [disabled]="firstFormGroup.invalid" class="nxt-2" matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <!-- #docregion label -->
            <mat-step [stepControl]="secondFormGroup" label="profile">
                <!-- #enddocregion label -->
                <form [formGroup]="secondFormGroup">
                    <p class="basic">
                        People here will get to know you with this information
                    </p>
                    <!-- <mat-form-field appearance="fill">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
                  </mat-form-field> -->
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="First Name" formControlName="fname">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Last Name" formControlName="lname">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Username" value="www.example.com/" formControlName="userCtrl">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" placeholder="about" id="floatingTextarea2" formControlName="textCtrl"
                            style="height: 100px"></textarea>
                    </div>
                    <div class="nxt-3">
                        <button mat-raised-button color="warn" class="nxt-1" matStepperPrevious>Back</button>
                        <button mat-raised-button color="primary" [disabled]="secondFormGroup.invalid" class="nxt-2" matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" label="notification">
                <!-- #enddocregion label -->
                <form [formGroup]="thirdFormGroup">
                    <div class="basic">
                        <p>We'll always let you know about important changes, but you pick what else you want to hear
                            about.
                        </p>
                    </div>
                    <div class="p-3 m-0">
                        <h3>By Email</h3>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" formControlName="news" />
                            <label class="form-check-label" for="flexCheckDefault">
                                Company News
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="" formControlName="prod" />
                            <label class="form-check-label" for="flexCheckChecked">
                                Featured Products
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="" formControlName="mess"/>
                            <label class="form-check-label" for="flexCheckChecked"> Messages </label>
                        </div>
                        <div class="mt-3">
                            <h3>Push Notifications</h3>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1"formControlName="ever" />
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Everthing
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1" formControlName="stuff" />
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Just the good stuff
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1" formControlName="notification" />
                                <label class="form-check-label" for="flexRadioDefault1">
                                    No push notification
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="nxt-4">
                        <button mat-button mat-raised-button color="warn" class="nxt-1" matStepperPrevious>Back</button>
                        <button mat-button mat-raised-button color="primary" class="nxt-2" matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <h4>Thank you for completing our form! You can reset the form if you would like to change your
                    information.
                </h4>
                <div class="nxt-3">
                    <button mat-button mat-raised-button color="warn" class="nxt-1" matStepperPrevious>Back</button>
                    <button mat-button mat-raised-button color="primary" class="nxt-2" mat-button
                        (click)="stepper.reset()">Reset</button>
                </div>
            </mat-step>
        </mat-stepper>
    </mat-card>


    <h1 class="hs"><b>Vertical Stepper</b></h1>

    <mat-card class="example-card">
        <!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
        {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
      </button> -->
        <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup" class="example-form">
                    <ng-template matStepLabel>Basic information</ng-template>
                    <p class="basic">
                        Fill in your basic information to let us know your preferences
                    </p>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
                    </mat-form-field><br>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput formControlName="emailCtrl" placeholder="Ex. pat@example.com"
                            required>
                        <mat-hint>Errors appear instantly!</mat-hint>
                    </mat-form-field><br>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>City</mat-label>
                        <mat-select #mode value="side">
                            <mat-option value="side">None</mat-option>
                            <mat-option value="side">Hyderabad</mat-option>
                            <mat-option value="over">Chennai</mat-option>
                            <mat-option value="push">Bangolare</mat-option>
                        </mat-select>
                    </mat-form-field><br>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Languages</mat-label>
                        <mat-select #mode value="side">
                            <mat-option value="side">None</mat-option>
                            <mat-option value="side">English</mat-option>
                            <mat-option value="over">Telugu</mat-option>
                            <mat-option value="push">Hindi</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div class="nxt-4">
                        <button mat-raised-button color="primary" class="nxt-2" matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="secondFormGroup" label="profile">
                <!-- #enddocregion label -->
                <form [formGroup]="secondFormGroup">
                    <p class="basic">
                        People here will get to know you with this information
                    </p>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="First Name">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Last Name">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Username" value="www.example.com/">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" placeholder="about" id="floatingTextarea2"
                            style="height: 100px"></textarea>
                    </div>
                    <div class="nxt-3">
                        <button mat-raised-button color="warn" class="nxt-1" matStepperPrevious>Back</button>
                        <button mat-raised-button color="primary" class="nxt-2" matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="secondFormGroup" label="notification">
                <!-- #enddocregion label -->
                <form [formGroup]="secondFormGroup">
                    <div class="basic">
                        <p>We'll always let you know about important changes, but you pick what else you want to hear
                            about.
                        </p>
                    </div>
                    <div class="p-3 m-0">
                        <h3>By Email</h3>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                            <label class="form-check-label" for="flexCheckDefault">
                                Company News
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="" />
                            <label class="form-check-label" for="flexCheckChecked">
                                Featured Products
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="" />
                            <label class="form-check-label" for="flexCheckChecked"> Messages </label>
                        </div>
                        <div class="mt-3">
                            <h3>Push Notifications</h3>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1" />
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Everthing
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1" />
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Just the good stuff
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1" />
                                <label class="form-check-label" for="flexRadioDefault1">
                                    No push notification
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="nxt-4">
                        <button mat-button mat-raised-button color="warn" class="nxt-1" matStepperPrevious>Back</button>
                        <button mat-button mat-raised-button color="primary" class="nxt-2" matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <p>Thank you for completing our form! You can reset the form if you would like to change your
                    information.</p>
                <div>
                    <button mat-button mat-raised-button color="warn" class="nxt-1" matStepperPrevious>Back</button>
                    <button mat-button mat-raised-button color="primary" class="nxt-2"
                        (click)="stepper.reset()">Reset</button>
                </div>
            </mat-step>
        </mat-stepper>
    </mat-card>
</div>

