<div class="navbar">
    <div class="var">
        <img src="../../assets/637fa45a-caad-48d8-9d31-ead5d3ceee72.jpg" alt="">
    </div>
    <div class="top">
        <mat-icon>notifications_none</mat-icon>
        <mat-icon>contacts</mat-icon>

    </div>
</div>
<div class="user">
    <img src="../../assets/crystal.jpg" alt="missing the images">
    <h4 class="name">Admin</h4>
    <p class="mail">admin@gmail.com</p>
</div>
<div class="menu">
    <div class="menu-head">
        <span>Dashboard</span>
    </div>
    <div class="menu-item">
        <button mat-button class="menu-button" routerLink="accamemy">
            <mat-icon>dashboard</mat-icon>
            <span>Accademy</span>
        </button>
    </div>
    <div class="menu-item">
        <button mat-button class="menu-button" routerLink="contact">
            <mat-icon>contacts</mat-icon>
            <span>contacts</span>
        </button>
    </div>

    <div class="menu-item">
        <button mat-button class="menu-button" routerLink="comment">
            <mat-icon>comments</mat-icon>
            <span>Notes</span>
        </button>
    </div>
    <div class="menu-item">
        <button mat-button class="menu-button" routerLink="form">
            <mat-icon>pages</mat-icon>
            <span>Forms</span>
        </button>
    </div>
    <div class="menu-item">
        <button mat-button class="menu-button" routerLink="project">
            <mat-icon>settings</mat-icon>
            <span>Projects</span>
        </button>
    </div>
    
</div>